.hot-deals
    width: 100%
    margin-top: 30px
    padding-bottom: 60px

.hot-deals__title
    @include font(800, 24px, 28.8px)
    color: #342733

@media screen and (min-width: $size-tablet)
    .hot-deals
        padding-bottom: 72px
    
    .hot-deals__title
        @include font(800, 36px, 43.2px, .02em)

@media screen and (min-width: $size-tablet)
    .hot-deals
        padding-bottom: 80px
