.social-networks-block
    display: flex
    justify-content: space-between
    width: 280px
    margin: 43px auto 0
    color: #FFFFFF
    position: relative
    z-index: 1

.social-networks__link
    display: block
    width: 28px
    height: 28px
    

.icon-block
    width: 28px
    height: 28px
    display: flex
    justify-content: center
    align-items: center
    background: $icon_color
    border-radius: 4px

.icon-block:hover
    background: $icon_hover_color

.icon-facebook
    font-size: 28px
    color: $icon_color

.icon-facebook:hover
    color: $icon_hover_color

.icon-instagram
    font-size: 22px

.icon-vkontakte
    font-size: 28px
    color: $icon_color

.icon-vkontakte:hover
    color: $icon_hover_color

.icon-ok
    font-size: 18px

.icon-play
    font-size: 20px
    margin-left: 1px

@media screen and (min-width: $size-tablet)
    .social-networks-block
        display: block
        width: 76px
        margin: 0
        padding: 0
        text-align: center
    
    .social-networks__link
        margin: 0 auto 34px

@media screen and (min-width: $size-desktop)
    .social-networks-block
        width: 100%
        display: flex
        justify-content: normal
        margin: 25px 0
    
    .social-networks__link
        margin: 0
        margin-right: 25px
    
    .icon-block
        width: 26px
        height: 26px

    .icon-facebook
        font-size: 26px
        color: $icon_color

    .icon-instagram
        font-size: 20px
    
    .icon-vkontakte
        font-size: 26px
    
    .icon-ok
        font-size: 16px
    
    .icon-play
        font-size: 18px
    
    .icon-whatsapp
        font-size: 20px
        margin-right: 1px
    
    .icon-telegram
        font-size: 16px
        margin: 1px 2px 0 0
