@import '../swiper slide/swiper-slide'
    
.swiper
    box-sizing: content-box
    width: 100%
    height: 430px
    margin-top: 30px

.swiper-pagination
    position: relative
    margin-top: 28px
    @include font(600, 16px, 16px, .05em)
    text-align: right

.swiper-pagination-bullet
    width: 10px
    height: 10px
    background: #D4DEE1
    cursor: pointer
    margin: 0 5px
    padding: 0
    --swiper-pagination-bullet-horizontal-gap: 5px

.swiper-pagination-bullet-active
    background: #FFB800

.swiper-custom__button
    display: none

.swiper-button-prev,
.swiper-button-next
    top: auto
    right: auto
    left: auto

.swiper-button-prev
    margin-top: -210px
    margin-left: -53px  //15px

.swiper-button-next
    margin-top: -210px
    margin-left: calc($width_desktop + 26px)

.swiper-button-prev:after,
.swiper-button-next:after
    font-size: 18px
    color: #342733

.swiper-button-prev:after
    margin-right: 2px

.swiper-button-next:after
    margin-left: 2px

.swiper-button-prev:before,
.swiper-button-next:before
    content: '' 
    position: absolute
    width: 46px
    height: 46px
    background-color: #FFFFFF
    border: #EFEFEF solid 1px
    box-shadow: 0px 4px 4px 0px #0000001A
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: -1

.swiper-button-disabled.swiper-button-prev:before,
.swiper-button-disabled.swiper-button-next:before
    display: none



@media screen and (min-width: $size-tablet)
    .swiper
        width: calc(100% + 32px)
        height: 370px
        margin-top: 40px
        //overflow: visible

    .swiper-pagination
        display: flex
        justify-content: center
        margin-top: 36px

@media screen and (min-width: $size-desktop)
    .swiper
        width: 100%
        margin-top: 60px

    .swiper-pagination
        display: none
    
    .swiper-custom__button
        display: block
    
