.footer__menu-block
    display: none

.hide
    display: none

@media screen and (min-width: $size-tablet)
    .footer__menu
        display: flex
        justify-content: space-between
        padding-top: 58px
    
    .footer__menu-block
        display: block
        width: 150px

    .footer__menu__title
        @include font(600, 16px, 19px, .05em)
        color: #7D8C93
    
    .footer__menu__item
        @include font(500, 15px, 18px)
        color: #7D8C93CC
        margin-top: 25px
    
    .footer__menu__item:hover
        font-weight: 600
        text-decoration: underline

@media screen and (min-width: $size-desktop)
    .hide
        display: flex

    .footer__menu-block
        width: 216px
    
    .footer__menu__items
        margin-top: 30px

    .footer__menu__item
        @include font(500, 14px, 18px)
        margin-top: 14px
    
    .footer__menu__social-network-block
        width: 288px
    
