.swiper-slide
    position: relative
    width: 312px
    height: 426px
    border: #F2F2F2 solid 1px
    border-radius: 6px
    box-shadow: 0px 4px 4px 0px #00000014

.swiper-slide:hover
    background: #FFB800
    border: #FFB800 solid 1px

.swiper-slide__link
    position: absolute
    top: 0
    width: 100%
    height: 100%


.swiper-slide__image-block
    box-sizing: content-box
    width: 312px
    height: 240px
    border-radius: 6px 6px 0 0
    margin: -1px 0 0 -1px

.swiper-slide__image
    box-sizing: content-box
    width: 312px
    height: 240px
    border-radius: 6px 6px 0 0

.swiper-slide__discount
    width: 70px
    height: 60px
    position: relative
    margin-top: -245px
    float: right 
    @include font(700, 12px, 16px, .05em)
    background: #FFB800
    color: #FFFFFF
    border-radius: 0 6px 0 20px
    text-align: right
    padding: 12px 12px 0 0

.swiper-slide__discount_highlight
    font-size: 16px
    margin-top: 3px

.swiper-slide__title
    display: flex
    @include font(500, 14px, 18px, .03em)
    color: #342733
    margin-top: 24px
    padding: 0 25px

.swiper-slide__title_highlight
    font-weight: 600

.swiper-slide__price-block
    display: flex
    justify-content: space-between
    margin-top: 25px
    padding: 0 25px

.swiper-slide__price-group
    height: 34px
    display: flex
    flex-wrap: wrap
    
.swiper-slide__price
    @include font(700, 18px, 16px, .03em)
    color: #342733
    margin: 0 30px 2px 0

.discount
    height: 8px
    margin: -12px 16px 4px 0
    background: #FFB80040

.swiper-slide__price-for-m2
    @include font(500, 16px, 18px, .03em)
    color: #1616164D

.swiper-slide__price-with-discount
    width: 62%
    text-align: right
    @include font(500, 16px, 16px)
    color: #1616164D
    text-decoration: line-through

.swiper-slide__address
    @include font(500, 14px, 18px, .03em)
    color: #1616164D
    margin-top: 25px
    padding: 0 25px

@media screen and (min-width: $size-tablet)
    .swiper-slide
        width: 288px
        height: 366px
    
    .swiper-slide__image-block
        width: 288px
        height: 180px
    
    .swiper-slide__image
        width: 288px
        height: 180px
    
    .swiper-slide__price
        margin: 0
    
    .swiper-slide__discount
        margin-top: -186px
    
    .swiper-slide__title
        font-size: 15px
        margin-top: 23px
    
    .swiper-slide__price-group
        display: block
    
    .swiper-slide__price-block
        margin-top: 33px
    
    .swiper-slide__price-for-m2
        font-size: 12px
        line-height: 16px
    
    .swiper-slide__price-with-discount
        width: 45%

    .swiper-slide__address
        margin-top: 16px
    
