@mixin font($weight, $size, $height: normal, $spacing: normal, $font: 'Gilroy') 
    font-family: $font
    font-weight: $weight
    font-size: $size
    line-height: $height
    letter-spacing: $spacing
