.footer__info-block
    display: flex
    justify-content: center
    flex-flow: wrap
    position: relative
    z-index: 1

.footer__info__title
    @include font(500, 12px, 14px, .03em)
    color: #80888A
    text-align: center
    order: 1
    margin-top: 30px

.footer__info__text
    @include font(400, 12px, 20px)
    color: #80888A
    text-align: center
    order: 0
    margin-top: 43px 

.footer__info__button
    width: 196px
    height: 36px
    margin: 30px auto 0
    @include font(400, 12px, 20px, .03em)
    color: #9FA6A9
    border: #D4DEE1 solid 1px
    border-radius: 6px
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0

.footer__info__button_highlight
    @include font(600, 12px, 20px, .03em)

.footer__info__button:hover
    background: #bdbdbd
    color: #FFFFFF

@media screen and (min-width: $size-tablet)
    .footer__info
        display: flex
        justify-content: space-between

    .footer__info-block
        width: 100%
        display: block
    
    .footer__info__title
        @include font(400, 14px, 20px)
        text-align: left
        margin-top: 35px
    
    .footer__info__text
        @include font(400, 12px, 20px)
        color: #80888A
        text-align: left
        margin-top: 18px
    
    .footer__info__button
        margin: 0
        margin-top: 74px

@media screen and (min-width: $size-desktop)
    .footer__info__title
        @include font(400, 14px, 14px, .03em)
        margin-top: 31px
    
    .footer__info__text
        @include font(400, 12px, 12px, .03em)
        margin-top: 10px
    
    .footer__info__button
        margin: auto auto 0