.container
    max-width: $width_mobile
    margin: 0 auto

@media screen and (min-width: $size_tablet)
    .container
        max-width: $width_tablet

@media screen and (min-width: $size_desktop)
    .container
        max-width: $width_desktop