@import '../footer contact/footer-contact'
@import '../social networks/social-networks'
@import '../footer menu/footer-menu'
@import '../footer info/footer-info'
@import '../footer decoration/footer-decoration'
    
.footer
    width: 100%
    padding-bottom: 100px 
    background: #F0F4F5

@media screen and (min-width: $size-tablet)
    .footer
        padding-bottom: 52px

    .footer__line
        display: block
        width: 100%
        height: 1px
        margin-top: 22px 
        background: #EAEAEA

@media screen and (min-width: $size-desktop)
    .footer
        padding-bottom: 49px

    .footer__line
        margin-top: 36px