.footer__decoration
    max-width: 472px
    position: relative
    z-index: 0
    margin: -294px auto 0
    overflow: hidden

.footer__decoration__image
    width: 234px
    margin-left: 48%

@media screen and (min-width: $size-tablet)
    .footer__decoration
        display: none
    