.footer__contact
    position: relative
    z-index: 1
    
.footer__number
    @include font(600, 24px, 28.63px, .1em)
    color: #7D8C93
    padding-top: 30px
    text-align: center

.footer__number-description
    @include font(500, 12px, 14.12px, .1em)
    color: #9FA6A9
    margin-top: 9px
    text-align: center

.footer__contact__button
    width: 312px
    height: 54px
    margin: 30px auto 0 
    @include font(500, 16px, 18.83px, .05em)
    color: #7D8C93
    display: flex
    justify-content: center
    align-items: center
    border: #D4DEE1 solid 1px
    border-radius: 6px
    background: #FFFFFF
    
.footer__contact__mail__text
    display: none

.footer__contact__button:hover
        background: #bdbdbd
        color: #FFFFFF

@media screen and (min-width: $size-tablet)
    .footer__contact
        max-width: 100%
        background: #FFFFFF
        border-top: #EAEAEA solid  1px
        border-top: #EAEAEA solid  1px
    
    .footer__contact-block
        display: flex
    
    .footer__contact__number
        width: 100%
        display: flex
        justify-content: space-between

    .footer__number
        @include font(600, 20px, 23.86px, .03em)
        text-align: left
        padding-top: 33px 

    .footer__number-description
        margin-top: 6px
        text-align: left

    .footer__contact__button
        width: 224px
        margin: 24px 0 15px 32px

@media screen and (min-width: $size-desktop)
    .footer__contact
        border: none
        background: #F7F9FA

    .footer__contact-block
        justify-content: space-between
    
    .footer__contact__number
        width: 526px
        display: flex
        justify-content: space-between

        .footer__contact__button
            width: 228px
            margin: 28px 0
            background: #F7F9FA
    
    .footer__number
        @include font(500, 28px, 33px, .05em)

    .footer__contact__line
        width: 1px
        height: 51px
        margin-top: 28px
        background: #D4DEE1
    
    .footer__contact__mail
        width: 527px
        display: flex
        justify-content: space-between

        .footer__contact__button
            width: 280px
            margin: 28px 0
            background: #F7F9FA
    
    .footer__contact__mail__text
        display: flex
        justify-content: center
        align-items: center
        @include font(400, 16px, 25px, .03em)
        color: #7D8C93

    .footer__contact__button:hover
        background: #bdbdbd